{% extends "main_template.j2" %}
{% block content %}

<!-- Custom styles for this template -->
  <link href="/css/clean-blog.css" rel="stylesheet">

  <!-- Masthead -->
  <header class="masthead">
    <div class="container h-100">
      <div class="row h-100 align-items-center justify-content-center text-center">
        <div class="col-lg-10 align-self-end">
            <img src="/img/logo/gravity_logo_transparent.png" alt="" height="150" width="150" style="padding: 5px 5px 5px 5px;"/>
          <h1 class="text-uppercase text-white font-weight-bold">Gravity Blog</h1>
          <hr class="divider my-4">
        </div>
        <div class="col-lg-8 align-self-baseline">
          <p class="text-white-75 font-weight-light mb-5">Welcome to the Gravity Blog, where we will share information about all the news and new features coming to Gravity.</p>
        </div>
      </div>
    </div>
  </header>

  <!-- Blog Section -->
  <section class="page-section" id="contact">

  <!-- Main Content -->
  <div class="container">
    <div class="row">
      <div class="col-lg-8 col-md-10 mx-auto">
        {% for item in blog_items %}
        <div class="post-preview">
          <a href="">
            <h2 class="post-title">
              {{ item.title }}
            </h2>
          </a>
            <h4 class="post-subtitle">
              {{ item.subtitle }}
            </h4>
          
          <p class="post-meta">Posted on {{ item.datetime_created }}</p>
          <p>{{ item.text }}</p>
        </div>
        <hr>
        {% endfor %}

      </div>
    </div>
  </div>

  </section>

{% endblock %}