{% extends "main_template.j2" %}
{% block content %}

  <!-- Masthead -->
  <header class="masthead">
    <div class="container h-100">
      <div class="row h-100 align-items-center justify-content-center text-center">
        <div class="col-lg-10 align-self-end">
          <h1 class="text-uppercase text-white font-weight-bold">Gravity Upload</h1>
          <hr class="divider my-4">
        </div>
        <div class="col-lg-8 align-self-baseline">
          <p class="text-white-75 font-weight-light mb-5">This page allows you to upload to the web server.</p>
        </div>
      </div>
    </div>
  </header>

  <!-- About Section -->
  <section class="page-section" id="contact">
    <div class="container">
      <div class="row justify-content-center">
        <div class="col-lg-8 text-center">
          <h2 class="mt-0">Upload Features</h2>
          <hr class="divider my-4">
          <p class="text-muted mb-5">This page explainns the ways that files can be uploaded through the Gravity Web Server.</p>
        </div>
      </div>

      <div class="row justify-content-center">
        <div class="col-lg-8 text-center">
          <h2 class="mt-0">Examples</h2>

        <div>
            <div class="form-group">
                <label>File Upload Over AJAX</label>
            </div>

            <form method="POST">
                <input type="file" name="fileupload" id="fileupload">
                <input class="btn btn-default" type="submit" onclick="uploadFiles()" value="Upload"></input>
            </form>

        </div>

        </div>
      </div>

  </section>

  <script src="js/upload.js"></script>

{% endblock %}