{% extends "main_template.j2" %}
{% block content %}

  <!-- Masthead -->
  <header class="masthead">
    <div class="container h-100">
      <div class="row h-100 align-items-center justify-content-center text-center">
        <div class="col-lg-10 align-self-end">
            <h1 class="text-uppercase text-white font-weight-bold">Edit Event</h1>
          <h1 class="text-uppercase text-white font-weight-bold">{{ event.title }}</h1>
          <hr class="divider my-4">
        </div>
        <div class="col-lg-8 align-self-baseline">
          <p class="text-white-75 font-weight-light mb-5">{{ event.datetime }}</p>
          <p class="text-white-75 font-weight-light mb-5">{{ event.location }}</p>
        </div>
      </div>
    </div>
  </header>

  <!-- Edit Event Section -->
  <section class="page-section" id="contact">
    <div class="container">

      <div class="row justify-content-center">
        <div class="col-lg-8 text-center">
            <h2>Edit Event</h2>
            <div class="form-group">
                <label for="event_edit_title">Event Title:</label>
                <input type="text" class="form-control" id="event_edit_title" placeholder="Enter Event Title" value="{{ event.title }}">
            </div>
            <div class="form-group">
                <label for="event_edit_location">Event Location:</label>
                <input type="text" class="form-control" id="event_edit_location" placeholder="Event Location" value="{{ event.location }}">
            </div>
            <div class="form-group">
                <label for="event_edit_datetime">Event Date and Time</label>
                <input type="text" class="form-control" id="event_edit_datetime" placeholder="Event Date and Time" value="{{ event.datetime }}">
            </div>

            <div class="form-group">
                <label for="event_edit_description">Event Description:</label>
                <textarea class="form-control" rows="10" id="event_edit_description">{{ event.description }}</textarea>
            </div>
            <button type="submit" class="btn btn-outline-primary" onClick="submitEventEdit()" id="submit_event_edit_button">Edit Event</button>
            <button type="submit" class="btn btn-outline-primary" onClick="submitEventDeleteHandler()" id="submit_event_delete_button">Delete Event</button>
        </div>
        <input type="text" id="edit_event_label" value="{{ event.label }}" hidden>
      </div>

  </section>



{% endblock %}