{% extends "main_template.j2" %}
{% block content %}

  <!-- Masthead -->
  <header class="masthead">
    <div class="container h-100">
      <div class="row h-100 align-items-center justify-content-center text-center">
        <div class="col-lg-10 align-self-end">
          <h1 class="text-uppercase text-white font-weight-bold">{{ event.title }}</h1>
          <hr class="divider my-4">
        </div>
        <div class="col-lg-8 align-self-baseline">
          <p class="text-white-75 font-weight-light mb-5">{{ event.datetime }}</p>
          <p class="text-white-75 font-weight-light mb-5">{{ event.location }}</p>
        </div>
      </div>
    </div>
  </header>

  <!-- Event Section -->
  <section class="page-section" id="contact">

    <!-- Main Content -->
    <div class="container">
      <div class="row">
        <div class="col-md-4">
          <h2>Event Description</h2>
          <p>{{ event.description }}</p>
        </div>
      </div>
    </div>

  </section>



{% endblock %}