{% extends "main_template.j2" %}
{% block content %}

<!-- Custom styles for this template -->
  <link href="/css/album.css" rel="stylesheet">

  <!-- Masthead -->
  <header class="masthead">
    <div class="container h-100">
      <div class="row h-100 align-items-center justify-content-center text-center">
        <div class="col-lg-10 align-self-end">
            <img src="/img/logo/gravity_logo_transparent.png" alt="" height="150" width="150" style="padding: 5px 5px 5px 5px;"/>
          <h1 class="text-uppercase text-white font-weight-bold">Upcoming Events</h1>
          <hr class="divider my-4">
        </div>
        <div class="col-lg-8 align-self-baseline">
          <p class="text-white-75 font-weight-light mb-5">Listed below are upcoming events.</p>
        </div>
      </div>
    </div>
  </header>

  <!-- Event Section -->
  <section class="page-section" id="contact">

  <!-- Main Content -->
  <div class="container">
    <div class="row">

       {%if event_items %}
        {% for event in event_items %}
          <div class="col-md-4">
            <div class="card mb-4 shadow-sm">
              <img src="{{ event.image }}" width="100%" height="225" alt="{{ event.title }}">
              <div class="card-body">
                {% if event.label %}
                  <a href="/event/{{ event.label }}"><h3>{{ event.title }}</h3></a>
                {% else %}
                  <h2>{{ event.title }}</h2></a>
                {% endif %}
                <h4 class="post-subtitle">{{ event.location }}</h4>
                <h5 class="post-subtitle">{{ event.datetime }}</h5>
                <p class="card-text">{{ event.description }}</p>
              </div>
            </div>
          </div>
          {% endfor %}
        {% else %}
          <h2>No upcoming events</h2>
        {% endif %}
    </div>
  </div>

  </section>

{% endblock %}