{% extends "main_template.j2" %}
{% block content %}

<!-- Custom styles for this template -->
  <link href="/css/album.css" rel="stylesheet">

  <!-- Masthead -->
  <header class="masthead">
    <div class="container h-100">
      <div class="row h-100 align-items-center justify-content-center text-center">
        <div class="col-lg-10 align-self-end">
          <h1 class="text-uppercase text-white font-weight-bold">Manage Events</h1>
          <hr class="divider my-4">
        </div>
        <div class="col-lg-8 align-self-baseline">
          <p class="text-white-75 font-weight-light mb-5">Use this page to manage all of the events.</p>
        </div>
      </div>
    </div>
  </header>

  <!-- Event Section -->
  <section class="page-section" id="contact">

  <!-- Main Content -->
  <div class="container">
    <div class="row">

       <div class="col-md-12">
       {%if event_items %}
       <table class="table table-hover">
       <thead>
            <tr>
            <th scope="col">Title</th>
            <th scope="col">Location</th>
            <th scope="col">Date/Time</th>
            <th scope="col">Edit</th>
            <th scope="col">Delete</th>
            </tr>
        </thead>
        <tbody>
       {% for event in event_items %}
            <tr>
            <td>{{ event.title }}</td>
            <td>{{ event.location }}</td>
            <td>{{ event.datetime }}</td>
            <td><a href="/event/edit/{{ event.label }}"><button type="button" class="btn btn-default set_user_password_button"><i class="fa fa-wrench text-primary"></i></button></a></td>
            <td><button type="button" data-label="{{ event.label }}" class="btn btn-default delete_event_button"><i class="fa fa-trash text-primary"></i></button></td>
            </tr>
            <tr>
        {% endfor %}
        </tbody>
        </table>
        {% else %}
          <h2>No upcoming events</h2>
        {% endif %}
        </div>
    </div>
  </div>

  </section>

  <script>
    $( ".delete_event_button" ).click(function() {
      const label = $(this).data('label');

      var r = confirm( "Are you sure you want to delete this event?" );
      if (r == true) {
          console.log( "Deleting this event " + label )

          submitEventDelete( label, "/events/manage" )
      } else {
          console.log("Delete Share Canceled")
      }
    });
  </script>

{% endblock %}