{% extends "main_template.j2" %}
{% block content %}

<!-- Custom styles for this template -->
  <link href="css/clean-blog.css" rel="stylesheet">

  <!-- Masthead -->
  <header class="masthead">
    <div class="container h-100">
      <div class="row h-100 align-items-center justify-content-center text-center">
        <div class="col-lg-10 align-self-end">
          <h1 class="text-uppercase text-white font-weight-bold">New Event</h1>
          <hr class="divider my-4">
        </div>
        <div class="col-lg-8 align-self-baseline">
          <p class="text-white-75 font-weight-light mb-5">Use this page to create a new event.</p>
        </div>
      </div>
    </div>
  </header>

  <!-- New Event Section -->
  <section class="page-section" id="contact">
    <div class="container">

      <div class="row justify-content-center">
        <div class="col-lg-8 text-center">
            <h2>Create New Event</h2>
            <div class="form-group">
                <label for="event_new_title">Event Title</label>
                <input type="text" class="form-control" id="event_new_title" placeholder="Enter Event Title">
            </div>
            <div class="form-group">
                <label for="event_new_location">Event Location</label>
                <input type="text" class="form-control" id="event_new_location" placeholder="Event Location">
            </div>
            <div class="form-group">
                <label for="event_new_datetime">Event Date and Time</label>
                <input type="text" class="form-control" id="event_new_datetime" placeholder="Event Date and Time">
            </div>

            <div class="form-group">
                <label for="blog_new_post_title">Event Description:</label>
                <textarea class="form-control" rows="5" id="new_event_description"></textarea>
            </div>
            <button type="submit" class="btn btn-outline-primary" onClick="submitNewEvent()" id="submit_new_event_button">Create Event</button>
        </div>
      </div>

  </section>

{% endblock %}